<ion-tabs>
  <ion-tab [root]="news" tabTitle="Noticias" tabIcon="apps"></ion-tab>
  <ion-tab [root]="perfil" tabTitle="Perfil" tabIcon="contact"></ion-tab>
  <ion-tab [root]="vacinas" tabTitle="Vacinas" tabIcon="add"></ion-tab>
  <ion-tab [root]="postos" tabTitle="Postos" tabIcon="ios-map"></ion-tab>
</ion-tabs>
