<ion-content padding>
  <div class="spacer" style="width: 300px; height: 120px;"></div>
  <img src="assets/img/logo.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
  <div class="spacer" style="width: 300px; height: 120px;"></div>
  
  <button ion-button large block icon-left (click)="loginOnFacebook()">
    <ion-icon name="logo-facebook"></ion-icon>
    Logar
  </button>
</ion-content>
