<ion-content padding>
  <div *ngFor="let new of news">
    <ion-card>
      <ion-card-header>
        {{new.title}}
      </ion-card-header>
      <ion-card-content>
        {{new.message}}
      </ion-card-content>
    </ion-card>
  </div>  
</ion-content>
